$menu-color: #323232;
$burger-bg-color: #252525;
$nav-width: 35px;
$nav-width-collapse: 130px;

$nav-animals-font-color: #a1a1a1;
$nav-help-font-color: #646464;
$nav-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
