$menu-color: #323232;
$crumb-color: #323232;
$burger-bg-color: #252525;
$nav-width: 35px;
$nav-width-collapse: 130px;
$dd-color: #616161;
$nav-animals-font-color: #a1a1a1;
$nav-help-font-color: #646464;
$error-color: rgba(208, 46, 66, 0.96);
$nav-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$color-circle-size: 20px;

$page-bg-color: #454545;
$article-bg-color: #565656;
$article-border-color: #555555;
$search-color: #ff8a0d;
